<div class="card">
    <h5 class="card-header text-start"> 포스트 생성하기</h5>
    <div class="card-body">
        <div class="card-text text-muted create-post"
            data-bs-toggle="modal" data-bs-target="#newpost" 
        >
            <%= currentUser.username %>의 생각을 알려주세요.
        </div>
    </div>
</div>