.auth-wrapper {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.create-post {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.create-post:hover {
    background-color: #ddd;
}

.comment-section {
    width: 100%;
    border: none;
    padding: 10px 20px;
    margin: 4px 0px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.no-outline {
    background-color: transparent;
    border-width: 0px;
}