<%- include('../partials/header') %>

<div class="container col-lg-8">
    <div class="card">
        <h5 class="card-header">
            포스트 수정하기
        </h5>
        <div class="card-body">
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea class="form-control" id="desc" name="description"><%= post.description %></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">수정하기</button>
            </form>
        </div>
    </div>


</div>



<%- include('../partials/footer') %>