.message.left {
    margin-right: 20% !important;
    border-top-left-radius: 0 !important;
}
.message.right {
    margin-left: 20% !important;
    border-bottom-right-radius: 0 !important;
}

.msg-time {
    display: block;
    opacity: .7;
    font-size: .7rem;
}

.messages {
    height: calc(80vh + 11px);
    overflow-y: auto;
}

.sidebar {
    height: calc(80vh + 112px);
}

.table tr td {
    cursor: pointer;
}