* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: white;
    color: black;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

.centered-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
}

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-weight: 600;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    font-size: 17px;
    font-weight: 400;
}

.messages {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 600;
    font-size: 20px;
    margin-right: 8px;
}

.message_meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: darkslateblue;
}

.form__container {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.form__container form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.form__container input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    flex-grow: 1;
}

.form__container button {
    font-size: 14px;
    width: 70px;
}

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
}

.list-title {
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}